   /* font: poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

  *{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  header{
    max-width: calc(1920px - 200px);
    margin: auto;
}
/* nav style */
nav{
   display: flex;
   justify-content: space-between;
   padding: 80px 120px;
   align-items: center;
 
}
nav ul{
    list-style: none;
    display: flex;
    
}
nav a{
text-decoration: none;
margin-right: 30px;
 color: #3A3A3A;
font-size: 16px;
font-weight: 600;
line-height: normal;
}
.nav-title{
 color: #3A3A3A;
font-size: 24px;
font-weight: 700;
line-height: normal;

}

/* banner style */
.banner-conatiner{
    display: flex;
    padding: 0px 120px;
    align-items: center;
    gap: 110px;
}
.banner-content{
    width:  582px; 
   
   
    
}
.banner-img{
    width: 475px;
    height: 475px;
    background: url(../ressources/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    border-radius:475px;
    border: 3px solid #F1E4FF;
   


}
 .banner-img img{
    /* width: 440px; */
    padding:  30px 30px  30px 2px;

} 
.banner-title{
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; 
    margin-top: 0px;

}
.banner-pargraph{
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 20px;
}
.banner-btn{
    display: inline-flex;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;
   border-radius: 41px;
   border: none;
   background: #E02C6D;
   color: #FFF;
   font-size: 16px;
   font-weight: 700;
   line-height: normal;
   margin-top: 25px;
}


/* sponsors style */

.sponsors-img-container{
   
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 120px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 100px;
    
    

}   

/* main style  */
main{
    
        max-width: 1440px;
        margin: 100px 100px;
    
}
/* card style */

.first{
    margin: 40px 100px;
}
.first .first-header{
    text-align: center;
    margin-bottom:50px ;
    
}

.card{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}


.card-name{
color:  #18191F;
font-size: 28px;
font-weight: 500;
line-height: 40px;
margin-top: 14px;

}
.card-price{
    color:  rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%; 
    margin-top: 6px;    
}
.card-paragraph{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;    
}

.see-more{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    left: 940px;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;

}
/* features */
.second{
    display: flex;
    gap: 90px;
    align-items: center;
    margin-top: 100px;
    margin-left: 30px;
}
.content-title{
    color: #0A0826;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;  
}
.content-paragraph{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px; 
    margin-top: 20px;  
    width: 501px;
height: 88px;
}
.content-btn{
    background: #E02C6D;
    border: none;
    display: inline-flex;
    padding: 10px 24px;
    align-items: center;
    gap: 8px; 
    color: #FFF;
font-size: 16px;
font-weight: 700;
line-height: normal;   
margin-top: 20px;
}











/* responsive  */
@media screen and (max-width: 567px) {
        nav , .banner-conatiner{
            flex-direction: column;
        }
        nav {
            
            text-align: center;
            align-items: center;
            padding: 20px 10px;
        }
        nav .nav-title{
            padding: 20px;
        }

        nav li{
            padding: 0px;
            display: grid;
            grid-area: auto;
        }
        .banner-conatiner{
        flex-direction: column-reverse;
        width:80%;
        text-align: center;
        justify-content: center; 
         margin-right:0px;
         padding-left: 40px;
         padding-right: 0px;
         gap:10px
        }
        .banner-img{
            background-position: center;
            justify-content: center;
            width: 400px;
           height: 400px;
           
        }
        .banner-img img{
        background-position: center;
        justify-content: center;
        width: 350px;
        }
        .banner-content{
            margin-top: 20px;
            width: 404px;
            height: 78px;
            flex-shrink: 0;
        }

        .sponsors-img-container{
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px 20px;
            margin-top: 300px;
        }
        .first{
            margin: 0px;
            padding: 0px;
            
        }
      
        .card-container{
            grid-template-columns: 1fr;
            padding: 20px 20px;
            justify-content: center;

        }
        .see-more{
            
            position: relative;
            left: 3px;
            
        }
        .second{
            flex-direction:column-reverse;
            gap: 30px;
            margin-top: 30px;
        }
        .content{
            text-align: center;
            width: 360px;

        }
        .content  .content-paragraph{
            width: 360px;
            padding-bottom: 10px;
        }
        .content-btn{
            margin-top: 20px;
        
        }
    }